<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>나눔로또입니다. 번호를 입력해주세요!</h1>
  <form action="/lotto_result/">
    <input type="number" name="num1" placeholder="1번">
    <input type="number" name="num2" placeholder="2번">
    <input type="number" name="num3" placeholder="3번">
    <input type="number" name="num4" placeholder="4번">
    <input type="number" name="num5" placeholder="5번">
    <input type="number" name="num6" placeholder="6번">
    <button type="submit">번호 고르기 완료</button>
  </form>
</body>
</html>